.Main {
	background: rgb(250, 250, 250);
	background: linear-gradient(0deg, #f6f2f2 0%, rgba(241, 241, 241, 1) 95%, rgba(210, 210, 210, 0.822) 100%);
}
.container {
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
}
